{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Profile Page
{% endblock %}

{% block body_block %}


<style>
    #infoheader {
        font-weight: bold;
    }
</style>

<div class="container pt-5">
    <div class="container">
        <h class = "display-4 text-danger";>
            {{ selected_user.username }}'s Profile</h>
    </div>
</div>


<div class="container pt-5">

    <h2>Your Profile Details</h2><br>
    <p style="color: rgba(167, 17, 17, 0.87); font-size:200%">{{ message }} </style> </p>
    <div class="container pt-5"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img src="{{ MEDIA_URL }}{{ user_profile.picture }}" class="avatar img-circle" alt="Profile Picture" width=200 height=200>
            </div>
        </div>


        <div class="col-md-8">
            <div class ="row">
                <div class="col-sm-4">
                    <p id = "infoheader">UserName:</p>
                </div>
                <div class="col-sm-4">
                    <p></h>{{selected_user.username}}</p></p>
                </div>
            </div>
            <div class ="row">
                <div class="col-sm-4">
                    <p id = "infoheader">Email:</p>
                </div>
                <div class="col-sm-4">
                    <p>Email: {{selected_user.email}}</p>
                </div>
            </div>
            <div class ="row">
                <div class="col-sm-4">
                    <p id = "infoheader">Name:</p>
                </div>
                <div class="col-sm-4">
                    <p></h>{{user_profile.first_name}}  {{user_profile.last_name}}</p></p>
                </div>
            </div>
            <div container pt-5>
            {% if selected_user == user %}
            <p>You may update your profile details Below .</p>
            <form class="form-horizontal" role="form" method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}

            <div class ="row">
                <div class="col-sm-4">
                    <label id = "infoheader">First Name:</p>
                </div>
                <div class="col-sm-4">
                    <p>{{ form.first_name }}</p>
                </div>
            </div>

            <div class ="row">
                <div class="col-sm-4">
                    <label id = "infoheader">Last Name:</p>
                </div>
                <div class="col-sm-4">
                    <p>{{ form.last_name }}</p>
                </div>
            </div>

            <div class ="row">
                <div class="col-sm-4">
                    <label id = "infoheader">Level of expertise:</p>
                </div>
                <div class="col-sm-4">
                    <p>{{ form.level }}</p>
                </div>
            </div>

            <div class ="row">
                <div class="col-sm-4">
                    <label id = "infoheader">Website</p>
                </div>
                <div class="col-sm-4">
                    <p>{{ form.website }}</p>
                </div>
            </div>

            <div class ="row">
                <div class="col-sm-4">
                    <label id = "infoheader">Change picture</p>
                </div>
                <div class="col-sm-4">
                    <p>{{ form.picture }}</p>
                </div>
            </div>

                <div class="row">  
                    <div class="pt-5 col-sm-12 col-md-12 col-xs-12">  
                        <div class="float-right">
                            <button class="btn btn-primary" type="submit">Update Profile</button>
                        </div>  
                    </div>  
                </div>
                
                
  
            {% else %}
            <div class ="row">
                <div class="col-sm-4">
                    <p id = "infoheader">Level of expertise:</p>
                </div>
                <div class="col-sm-4">
                    <p>{{ user_profile.level }}</p>
                </div>
            </div>

            <div class ="row">
                <div class="col-sm-4">
                    <p id = "infoheader">Your website:</p>
                </div>
                <div class="col-sm-4">
                    <p>{{ user_profile.website }}</p>
                </div>
            </div>

            {% endif %}
        </div>
    </div>  
</div>


<hr/>
<br/>

<div style="height:300px">
    <div class = "h-75">
    <h2>Your Bookmark List:</h2>
    {% for page in bookmark_pages %}
        <a href="{% url 'rango:show_page' page.category.slug page.title%}">
            <h4>{{page.title}}</h4>
        </a>
        <br/>
    {% empty %}
        <p>No page in bookmark list.</p>
    {% endfor %}
</div>
</div>


{% endblock %}

